<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Welcome to Acme</h1>
            <p>Test this app with the following data.</p>
            <p>Valid user names and passwords as follows username/password :</p>
            <ul>
                <li>sai/test@123</li>
                <li>kiran/test@123</li>
                <li>venkat/test@123</li>
            </ul>
            <p>Enter the product codes ranging from p01 to p25.</p>
        </div>
    </div>
</div>
