<div class="container">
    <div class="row" ng-hide="billFlag">
        <div class="col-lg-6">
            <h2 style="text-align:center">Add Product</h2>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">Product Code</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="productCode" class="form-control" placeholder="Product Code" ng-blur="getItem(productCode)">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">Product Name</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="productName" class="form-control" placeholder="Product Name" ng-disabled="true">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">Quantity</label>
                    <div class="col-sm-9">
                        <input type="number" ng-model="productUnits" class="form-control" placeholder="Product in Units" min='1' max='5'>
                    </div>
                </div>
                <div class="form-group ">
                    <label for="inputEmail3 " class="col-sm-3 control-label ">Cost per Unit</label>
                    <div class="col-sm-9 ">
                        <input type="text " ng-model="productCostPerUnit " class="form-control " placeholder="Cost Per Unit " ng-disabled="true">
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-sm-offset-3 col-sm-9 ">
                        <button type="submit " class="btn btn-primary " ng-click="addProduct() ">Add Product</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-6 ">
            <table class="table table-striped ">
                <caption>Product Details</caption>
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>PCode</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Unit Cost</th>
                        <th>Total Cost</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='product in purchaselist'>
                        <td>{{$index+1}}</td>
                        <td>{{product.product_code}}</td>
                        <td>{{product.product_name}}</td>
                        <td>{{product.product_quantity}}</td>
                        <td>{{product.product_cost}}</td>
                        <td>{{product.product_totalcost}}</td>
                        <td><span style="cursor:pointer" class="glyphicon glyphicon-pencil" title="edit the product" ng-click="editProduct($index,product)"></span>&nbsp;&nbsp;<span style="cursor:pointer" class="glyphicon glyphicon-remove" title="remove the product" ng-click="removeProduct($index)"></span></td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-success" ng-if="purchaselist.length" ng-click="generateBill()">Generate Bill</button>
        </div>
    </div>
    <div class="row" ng-show="billFlag">
        <div class="col-lg-6">
            <table class="table table-striped ">
                <caption>Bill Details</caption>
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>PCode</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Unit Cost</th>
                        <th>Total Cost</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='product in purchaselist'>
                        <td>{{$index+1}}</td>
                        <td>{{product.product_code}}</td>
                        <td>{{product.product_name}}</td>
                        <td>{{product.product_quantity}}</td>
                        <td>{{product.product_cost}}</td>
                        <td>{{product.product_totalcost}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">Total Amount:</td>
                        <td>{{Amount | currency: '&#8377;'}}</td>
                    </tr>
                </tfoot>
            </table>
            <div>Date Created: {{today | date:'medium'}}</div>
        </div>
    </div>
</div>
